#woo-bulksms-abandoned-cart-popup {
  text-align: right;
  input {
    text-align: right;
  }
  display: none;
  .btn {
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    background: lightblue;
    &.disabled {
      background: #e3e3e3;
      color: #c2c2c2;
      cursor: no-drop;
    }
  }

  @media all and (max-width: 767px){
    text-align: center;
    .btn {
      margin: 10px 0;
      width: 100%;
    }
  }
}


.featherlight {
  #woo-bulksms-abandoned-cart-popup {
    display: block;
  }
  .featherlight-content {
    border: 5px solid #FC3185;
  }
  @media all and (max-width: 767px){
    .featherlight-content {
      width: 90%;
    }
  }
}
