#woo-bulksms-abandoned-cart-popup {
  text-align: right;
  display: none; }
  #woo-bulksms-abandoned-cart-popup input {
    text-align: right; }
  #woo-bulksms-abandoned-cart-popup .btn {
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    background: lightblue; }
    #woo-bulksms-abandoned-cart-popup .btn.disabled {
      background: #e3e3e3;
      color: #c2c2c2;
      cursor: no-drop; }
  @media all and (max-width: 767px) {
    #woo-bulksms-abandoned-cart-popup {
      text-align: center; }
      #woo-bulksms-abandoned-cart-popup .btn {
        margin: 10px 0;
        width: 100%; } }

.featherlight #woo-bulksms-abandoned-cart-popup {
  display: block; }
.featherlight .featherlight-content {
  border: 5px solid #FC3185; }
@media all and (max-width: 767px) {
  .featherlight .featherlight-content {
    width: 90%; } }

/*# sourceMappingURL=woo-bulkgate-abandoned-cart.css.map */
